{{ partial "header" . }}

{{ $localScratch := newScratch }}
{{ $localScratch.Set "baseURL" $.Site.BaseURL }}

<main>
    <div>
        <h2>{{ .Title }}</h2>
        <h4>{{ .Description }}</h4>

        <h5 align="left">
        Data classification:
            <ul style="text-align:justify;">
                {{ range slice "structures" "models"}}
                    {{ $data := index $.Site.Data.glossary . }}
                    <li><a href="{{ $data.url }}"><b>{{ $data.term | title }}:</b></a> {{ $data.short }}</li>
                {{ end }}
            </ul>
        </h5>

        <h3> Structures </h3>
        {{ range $.Site.Data.links  }}
            {{ if eq .resources "structures" }}
                {{ partial "links-data.html" (dict "links" . "context" $) }}
            {{ end }}
        {{ end }}

        <h3> Models </h3>
        {{ range $.Site.Data.links  }}
            {{ if eq .resources "models" }}
                {{ partial "links-data.html" (dict "links" . "context" $) }}
            {{ end }}
        {{ end }}

    </div>
</main>

{{ partial "footer" . }}
