{{ partial "header" . }}

<!-- MODELS PAGE -->

{{ $localScratch := newScratch }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>

        {{ .Content }}

        <hr>

        <!-- Iterate over all models -->
        <!-- TODO: Group models using the same hierarchy as Structures -->
        {{ range $.Site.Data.models  }}

          <!-- Model name -->
          <h3>{{ .name }}</h3>

          <!-- Author -->
          <h5>{{ .creator }}</h5>

          <!-- Proteins represented -->
          {{ range $pname := .proteins }}
             {{ $plink := print $.Site.BaseURL "proteins/#" ( $pname | anchorize) }}
             <a href="{{ $plink }}"><kbd class="bg-primary" style="">{{ $pname }}</kbd></a>
          {{ end }}

          <!-- Show 3D structure using 3Dmol.js : see https://3dmol.csb.pitt.edu/ -->
          <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
          <div align="center" style="height: 400px; width: 400px; position: relative; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto;" class='viewer_3Dmoljs' data-href='{{ .pdb_url }}' data-backgroundcolor='0xffffff' data-style='cartoon:color~spectrum'></div>

          <!-- Model and source PDBs -->
          <h5 align="left">
          Model: <a href="{{ .url }}"><kbd class="alert-success">Model PDB</kbd></a>
          |
          Source PDBs:
          {{ range .pdbids }}
            {{ $pdb := upper . }}
            {{ $url := print "https://www.rcsb.org/structure/" $pdb }}
            <a href="{{ $url }}"><kbd class="alert-warning">{{ $pdb }}</kbd></a>
          {{ end }}
          </h5>

          <!-- Model description -->
          <h4 align="justify">{{ .description | markdownify }}</h4>

          <!-- Separator -->
          <hr>

        {{ end }}

    </div>


</main>

{{ partial "footer" . }}
