{{ partial "header" . }}

{{ $localScratch := newScratch }}
{{ $localScratch.Set "rowcount" 0 }}

{{ $targets := partial "target-map" . }}
{{ $proteins := partial "protein-map" . }}
{{ $structures := partial "structure-map" . }}
{{ $thera := partial "thera-map" . }}


<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <h2>{{ .Site.Title }}</h2>
        <h3>{{ markdownify .Site.Params.Description }}</h3>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}


        <img src="images/sars-cov-2-600x300.jpg">

        <!-- Establish a scope-independent scratch -->
        {{ $mainScratch := newScratch }}

        <div id="data">
            <h3>Targets:</h3>
            <p>
                {{ range $targets }}
                <a href="{{ .link }}"><kbd class="item-tag" style="">{{ .name | title }}</kbd></a><br>
                {{ end }}
            </p>
            <h3>Proteins:</h3>
            <p>
                {{ range $pname, $plink := $proteins }}
                <a href="{{ $plink }}"><kbd class="bg-primary" style="">{{ $pname  }}</kbd></a>
                {{ end }}
            </p>
            <h3>Structures:</h3>
            <p>
                {{ range $pname, $plink := $structures }}
                <a href="{{ $plink }}"><kbd class="bg-primary" style="">{{ $pname  }}</kbd></a>
                {{ end }}
            </p>
            <h3>Therapeutics:</h3>
            <p>
                {{ range $tname, $tlink := $thera }}
                <a href="{{ $tlink }}"><kbd class="alert-success" style="">{{ $tname }}</kbd></a>
                {{ end }}
            </p>
        </div>

    </div>

</main>

{{ partial "footer" . }}
