{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <h2>{{ .Site.Title }}</h2>
        <h3>{{ markdownify .Site.Params.Description }}</h3>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}

        <!-- Establish a scope-independent scratch -->
        {{ $mainScratch := newScratch }}

        <span class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th scope="col">Proteins</th>
                    <th scope="col">Structures</th>
                    <th scope="col">Targets</th>
                    <th scope="col">Therapeutics</th>
                </tr>
              </thead>
              <tbody>
                    <tr>
                        <th><a href="/proteins/">ALL Proteins</a></th>
                        <th><a href="/structures/">All Structures</a></th>
                        <th><br/></th>
                        <th><a href="/theraputics/">All Therapeutics</a></th>
                    </tr>
                    <tr>
                        <th><a href="/proteins/viral-proteins/">Viral Proteins</a></th>
                        <th><a href="/structures/viral-proteins/">Viral Proteins</a></th>
                        <th><br/></th>
                        <th><a href="/theraputics/antibodies/">Antibodies</a></th>
                    </tr>
                    <tr>
                        <th><a href="/proteins/host-proteins/">Host Proteins</a></th>
                        <th><a href="/structures/host-proteins/">Host Proteins</a></th>
                        <th><br/></th>
                        <th><a href="/theraputics/peptides/">Peptides</a></th>
                    </tr>
                    <tr>
                        <th><br/></th>
                        <th><br/></th>
                        <th><br/></th>
                        <th><a href="/theraputics/small_molecules/">Small (Optionally Drug-like) Molecules</a></th>
                    </tr>
                    <tr>
                        <th><br/></th>
                        <th><br/></th>
                        <th><br/></th>
                        <th><a href="/theraputics/vaccines/">Vaccines</a></th>
                    </tr>
              </tbody>
            </table>
        </span>





    </div>

</main>

{{ partial "footer" . }}
