{{ partial "header" . }}

{{ $localScratch := newScratch }}
{{ $localScratch.Set "rowcount" 0 }}

{{ $targets := partial "target-map" . }}
{{ $proteins := partial "protein-map" . }}
{{ $structures := partial "structure-map" . }}
{{ $thera := partial "thera-map" . }}
{{ $model := partial "model-map" . }}
{{ $sim := partial "sim-map" . }}
{{ $links := partial "links-map" . }}


<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <h2>{{ .Site.Title }}</h2>
        <h3>{{ markdownify .Site.Params.Description }}</h3>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}

        <img style="width:60%;" src="images/sars-cov-2-600x300.jpg">

        <h3> What is this hub about? </h3>
        <p align="justify" style="font-size:120%;">
            This site provides a community-driven data repository and curation service for molecular structures, models,
            therapeutics, and simulations related to computational research related to therapeutic opportunities
            for COVID-19 (caused by the SARS-CoV-2 coronavirus). For more info about this project,
            see the <a href="/about">about</a> page.
            Data submitted to this website go through a
            <a href="/contributing#data-review-and-acceptance">review process</a> by the corresponding
            <a href="/teams">team</a>. This is a public process and we encourage people to not only submit
            data through <a href="https://github.com/MolSSI/covid/pulls">Pull Requests</a> or the
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1gtN4yts8D9QfQlnZUWpjHvs86Zgz3AJHmTug-ehpYYiGPA/viewform?usp=sf_link">Large Data Submission Request form</a>,
            but we also encourage people to be part of our <a href="/teams">Review Teams</a> and be a part of the review process.
            For instructions on how to contribute, please see the <a href="/contributing">contributing</a> page.
        </p>
        <p align="left" style="font-size:120%;">
            Quick Terminology <a href="{{ .Site.BaseURL}}/glossary">[Full Glossary]</a>:
        </p>
            <ul style="text-align:left;font-size:120%;">
                {{ range slice "targets" "proteins" "structures" "models" "therapeutics" "simulations" "links" }}
                    {{ $data := index $.Site.Data.glossary . }}
                    <li>
                        <a href="{{ $data.url }}"><b>{{ $data.term }}:</b></a> {{ $data.short }}
                    </li>
                {{ end }}
            </ul>

        <!-- Establish a scope-independent scratch -->
        {{ $mainScratch := newScratch }}

        <div id="data">
            <h3>Targets:</h3>
            <p>
                {{ range $targets }}
                <a href="{{ .link }}"><kbd class="item-tag" style="">{{ .name | title }}</kbd></a><br>
                {{ end }}
            </p>
            <h3>Proteins:</h3>
            <p>
                {{ range $pname, $plink := $proteins }}
                <a href="{{ $plink }}"><kbd class="bg-primary" style="">{{ $pname  }}</kbd></a>
                {{ end }}
            </p>
            <h3>Structures:</h3>
            <p>
                {{ range $pname, $plink := $structures }}
                <a href="{{ $plink }}"><kbd class="alert-danger" style="">{{ $pname  }}</kbd></a>
                {{ end }}
            </p>
            <h3>Models:</h3>
            <p>
                {{ range $mname, $mlink := $model }}
                <a href="{{ $mlink }}"><kbd class="alert-info" style="">{{ $mname }}</kbd></a>
                {{ end }}
            </p>
            <h3>Therapeutics:</h3>
            <p>
                {{ range $tname, $tlink := $thera }}
                <a href="{{ $tlink }}"><kbd class="alert-success" style="">{{ $tname }}</kbd></a>
                {{ end }}
            </p>
            <h3>Simulations:</h3>
            <p>
                {{ range $sname, $slink := $sim }}
                <a href="{{ $slink }}"><kbd class="alert-secondary" style="">{{ $sname }}</kbd></a>
                {{ end }}
            </p>
            <h3>Links:</h3>
            <p>
                {{ range $lname, $llink := $links }}
                <a href="{{ $llink }}"><kbd class="alert-secondary" style="">{{ $lname }}</kbd></a>
                {{ end }}
            </p>
        </div>

    </div>

</main>

{{ partial "footer" . }}
