<!-- Easier to view accordion -->
<div class="panel-group" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse{{.key}}" aria-expanded="false" aria-controls="collapse{{.key}}">
          (Click to Expand)
        </a>
      </h4>
    </div>
    <div id="collapse{{.key}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{.key}}">
      <div class="panel-body">
        <!-- Have to Index the page with a " " in it by "-", but "-" is invalid, so have to us index fn -->
        {{ partial "protein-builders/protein-taxonomy" (dict "context" .context "term" .term "conditions" .conditions) }}
      </div>
    </div>
  </div>
</div>
