<h3> <u>Host (Presumed) Targets</u> </h3>
{{ $iter := .Site.Data.page_structures.targets.host.presumed }}
<!-- Check if a record exists or not -->
{{ if not $iter }}
<h4> No information has been recorded in the Exchange about presumed host targets </h4>

The information might be out there! The Exchange only knows what people tell it, so if you know of information
  regarding presumed host target, please submit an issue to help add it to the Exchange!
{{ else}}

{{ range .Site.Data.page_structures.targets.host.presumed }}
    <h4>{{ .name }}</h4>
    <h5>{{ .desc }}</h5>
    PLACEHOLDER DATA!
{{ end }}

{{ end}}