<!-- Have to Index the page with a " " in it by "-", but "-" is invalid, so have to us index fn -->

{{ $localScratch := newScratch }}
{{ $pages := index .context.Site.Taxonomies.targets .term }}
{{ $localScratch.Set "conditions" .conditions }}
{{ $localScratch.Set "posted_something" false }}

{{ if $pages }}
    {{ range $pages }}
        {{ $localScratch.Set "page" . }}
        {{ if $localScratch.Get "conditions" }}
            {{ $localScratch.Set "posted" false }}
            {{ range $localScratch.Get "conditions" }}
                {{ if and (in (($localScratch.Get "page").Param "targets") .) (not ($localScratch.Get "posted")) }}
                    <div>
                        <h4><a href="{{ ($localScratch.Get "page").Permalink }}">{{ ($localScratch.Get "page").Title }}</a></h4>
                        <h5>{{ ($localScratch.Get "page").Description }}</h5>
                    </div>
                    {{ $localScratch.Set "posted" true }}
                    {{ $localScratch.Set "posted_something" true }}
                {{ end }}
            {{ end }}
        {{ else }}
            <div>
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <h5>{{ .Description }}</h5>
            </div>
            {{ $localScratch.Set "posted_something" true }}
        {{ end }}
    {{ end }}
    {{ if not ($localScratch.Get "posted_something") }}
        {{ if $localScratch.Get "conditions" }}
            {{ partial "no-data" ($localScratch.Get "conditions") }}
        {{ else }}
            {{ partial "no-data" .term }}
        {{ end }}
    {{ end }}

{{ else }}

    {{ partial "no-data" .term }}

{{ end }}