html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

.main-img {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 1180px !important;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    /* This line was causing infinite misalignment problems on the page */
    /* transform: translateY(22vh); */
}

.intro > h1 {
    color: #212121;
    /* font-size: 12vh; */
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

/* Page content */

.content {
    padding-top: 20px;
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

.dropdown-menu {
    background-color: .navbar.navbar-default.background-color;
}

.table-success {
    background-color: #c3e6cb; !important;
}

.table-warning {
    background-color: #ffeeba;
}

.table-danger {
    background-color: #f5c6cb;
}

.table-info {
    background-color: #bee5eb;
}

.table-secondary {
    background-color: #d6d8db;
}

.table-norow {
    border-top: 0px;
    border-bottom: 0px;
    border: 0px; !important;
}

.hr-thick {
    border-top: 5px solid #eee;
}

.text-center-row>tbody>tr>th,
.text-center-row>tbody>tr>td,
.text-center-row>thead>tr>th {
  text-align: center;
  vertical-align: middle !important;
}

.anchor {
    /* Shenanigans to make anchors work correctly. */
    padding-top: 56px;
    margin-top: -56px;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.wrapper {
  display: grid;
  grid-template-columns: 13% 20% 13% 20% 13% 20%;
  grid-gap: 10px 20px;
  background-color: #fff;
  align-items: center;
}

.box {
  border-radius: 15px;
  padding: 0px;
  font-size: 90%;
}

.logo-img-box {
    display: inline;
    margin: 0px;
    padding: 5px;
    max-width: 146px;
    max-height: 62px;
}

.logo-img {
    display: inline;
    max-width: 136px;
    max-height: 52px;
    width: auto;
    height: auto;
}
