---
---

@import "{{ site.theme }}";

.btn2 {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(25, 138, 70, 1.0);
  border-color: rgba(20, 74, 128, 1.0);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(20, 74, 128, 1.0);
    border-color: rgba(25, 138, 128, 1.0);
  }

  + .btn2 {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn2 {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}