{{ partial "header" . }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>
        {{ partial "tags" . }}
    </div>

    {{ $content := .Content }}
    <div align="start" class="content">
        {{ $content }}

    </div>

    <!-- loop through all the data at a file level so I can get YAML file names-->
    {{ range .Site.Data }}
        {{ range $file, $content := . }}
            <!-- Determine if structure is for this data -->
            {{ if eq $content.target $.Page.Params.target }}
                <h3>Structure: {{ $file }}</h3>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Origin Method</th>
                          <th scope="col">Resolution</th>
                        </tr>
                      </thead>

                      <tbody>
                      <!-- Cycle through data -->
                      {{ range $target }}
                        <!-- Start a row -->
                        <tr>
                          <!-- Establish the Review Lookup key by current ID -->
                          {{ $cite_key := $target_scratch.Get "cite_key" }}
                          {{ if (isset $cite_key .id) }}
                            {{ $target_scratch.Set "citation" (index $cite_key .id) }}
                          {{ else }}
                            {{ $target_scratch.Set "citation" "Not Reviewed" }}
                          {{ end }}

                          {{ $citation := $target_scratch.Get "citation" }}

                          <!-- Description -->
                          <td scope="row">{{ .description | safeHTML }} </td>

                          <!-- Origin  -->
                          {{ if .origin }}
                          <td scope="row">{{ .origin | safeHTML }}</td>
                          {{ else }}
                          <td scope="row">???</td>
                          {{ end }}

                          <!-- Author  -->
                          {{ if .author }}
                          <td scope="row">{{ .author | safeHTML }}</td>
                          {{ else }}
                          <td scope="row">???</td>
                          {{ end }}

                          <!-- Image  -->
                          {{ if .image }}
                          <td scope="row">
                            <img src="{{ .image | absURL }}">
                          </td>
                          {{ else }}
                          <td scope="row">???</td>
                          {{ end }}

                          <!-- tags -->
                          {{ if .tags }}
                          <td scope="row">{{ partial "data-tags" .tags }}</td>
                          {{ else }}
                          <td scope="row"></td>
                          {{ end }}


                          <!-- Review the overall structure of the model-->
                          {{ partial "top_review" (dict "citation" $citation "category" "structure") }}

                          <!-- Review the overall biology of the model-->
                          {{ partial "top_review" (dict "citation" $citation "category" "biology") }}

                          <!-- Process the Models -->
                          <td scope="row">{{ partial "data_entries" (dict "citation" $citation "category" "models" "context" .) }}</td>

                          <!-- Process the Structure Data -->
                          <td scope="row">{{ partial "data_entries" (dict "citation" $citation "category" "structure_data" "context" .) }}</td>

                          <!-- Process the Inputs -->
                          <td scope="row">{{ partial "data_entries" (dict "citation" $citation "category" "inputs" "context" .) }}</td>

                        </tr>
                        {{ end }}
                      </tbody>
                    </table>
                </div>



            {{ end }}
        {{ end }}
    {{ end }}

</main>

{{ partial "footer" . }}
