{{ partial "header" . }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>
        {{ partial "tags" . }}
    </div>

    {{ $content := .Content }}
    <div align="start" class="content">
        {{ $content }}

    </div>

    {{ $localScratch := newScratch }}

    <!-- Counter -->
    {{ $localScratch.Set "npages" 0 }}

    <!-- page info -->
    {{ $localScratch.Set "page" .Page }}

    <!-- loop through all the data at a file level so I can get YAML file names-->
    {{ range $file, $content := .Site.Data.structures }}
        <!-- Determine if structure is for this data -->
        {{ if reflect.IsSlice $content.protein }}
            {{ $localScratch.Set "match" (in $content.protein (($localScratch.Get "page").Param "protein")) }}
        {{ else }}
            {{ $localScratch.Set "match" (eq $content.protein (($localScratch.Get "page").Param "protein")) }}
        {{ end }}


        {{ if and (eq $content.target $.Page.Params.target) (ne $file "TEMPLATE") }}
            <h3>Structure: {{ $file }}</h3>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Origin Method</th>
                      <th scope="col">Resolution</th>
                      <th scope="col">Get the Structure</th>
                      <th scope="col">Read the Paper</th>
                      <th scope="col">Related Proteins</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>{{ $content.method }}</td>
                        <td>{{ $content.resolution }}</td>
                        <td><a href="{{ $content.pdb_doi | safeURL }}">PDB {{ $file }}</a></td>
                        <td><a href="{{ $content.publication_doi | safeHTML}}">Link out to Paper</a></td>
                        <td> {{ partial "related-proteins" (dict "data" $content.protein "baseurl" $.Site.BaseURL ) }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <!-- Add one to the counter -->
            {{ $localScratch.Set "npages" (add ($localScratch.Get "npages") 1) }}
        {{ end }}
    {{ end }}

    <!-- Content if nothing here yet -->
    {{ if eq ($localScratch.Get "npages") 0 }}
        {{ partial "no-data" $.Page.Title }}
    {{ end }}

</main>

{{ partial "footer" . }}
