{{ $localScratch := newScratch }}

<div class="row">
  <!-- team name -->
  <!-- <h3 class="anchor" id="{{.name | anchorize }}"><b>{{ .name }}</b></h3> -->

  <!-- members -->
  <div class="wrapper">
    
    {{ range .contrib.members }}
        <div class="box" align="left">
            {{ if .url }}
                <a href = "{{ .url }}"> <b>{{ .name }}</b></a>
            {{ else }}
                {{ .name }}
            {{ end }}
        </div>
        <!-- Figure out what org they are with-->
        {{ if .organization }}
            {{ $org := index $.context.Site.Data.organizations .organization}}
            {{ if $org }}
                <!--Org exists...-->
                {{ if and ($org.logo) ($org.url) }}
                    <!-- ... and has a logo and url-->
                    <div class="box logo-img-box" align="left">
                        <a href="{{ $org.url }}"><img class="logo-img" src="/images/org-logos/{{ $org.logo }}"></a>
                    </div>
                {{ else if ($org.logo) }}
                    <!-- ... and a logo but not url-->
                    <div class="box logo-img-box" align="left">
                        <img class="logo-img" src="/images/org-logos/{{ $org.logo }}">
                    </div>
                {{ else }}
                    <!-- ... no logo and no url-->
                    <div class="box logo-img-box" align="left"> <img class="logo-img" src="/images/blank_logo_mini.png"></div>
                {{ end }}
            {{ else }}
                <!--Org does not exist-->
                <div class="box logo-img-box" align="left"> <img class="logo-img" src="/images/blank_logo_mini.png"></div>
            {{ end }}
        {{ else }}
            <!--No Org-->
            <div class="box logo-img-box" align="left"> <img class="logo-img" src="/images/blank_logo_mini.png"></div>
        {{ end }}

    {{ end }}


  </div>

</div>
