<style>

.wrapper {
  display: grid;
  grid-template-columns: 13% 20% 13% 20% 13% 20%;
  grid-gap: 10px;
  background-color: #fff;
  align-items: center;
}

.box {
  border-radius: 15px;
  padding: 0px;
  font-size: 90%;
}

.logo_img
{
display: inline;
margin: 0px;
padding: 0px 10px 10px 10px;
}

</style>

<div class="row">
  <!-- team name -->
  <!-- <h3 class="anchor" id="{{.name | anchorize }}"><b>{{ .name }}</b></h3> -->

  <!-- members -->
  <div class="wrapper">
    
    {{ range .members }}
        <div class="box" align="left"> <a href = "{{ .url }}"> <b>{{ .name }}</b> </a> </div>
        <div class="box" class="logo_img" align="left"> <img src="{{ .logo }}"></div>
    {{ end }}


  </div>

</div>
