<!-- Establish a local scratch -->
{{ $local_scratch := newScratch }}

{{ if eq .citation "Not Reviewed" }}
    {{ $local_scratch.Set .category "Not Reviewed" }}
{{ else if not (isset .citation .category) }}
    {{ $local_scratch.Set .category "Not Reviewed" }}
{{ else }}
    {{ $local_scratch.Set .category (index .citation .category) }}
{{ end }}

{{ $local_scratch.Set "citation" ($local_scratch.Get .category) }}
{{ $record := index .context .category}}


<div class="table-responsive">
    <table class="table table-condensed">
        <tbody>
        {{ range $record }}
            {{ if or (eq ($local_scratch.Get "citation") "Not Reviewed") (not ($local_scratch.Get "citation")) }}
                {{ $local_scratch.Set "record_citation" "Not Reviewed" }}
            {{ else }}
                {{ $local_scratch.Set "record_citation" (index ($local_scratch.Get "citation") .id) }}
            {{ end }}
            <tr class="table-norow">
                <td>{{ partial "single-data" (dict "context" . "citation" ($local_scratch.Get "record_citation")) }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>
