{{ $localScratch := newScratch }}

<a href="https://covid.molssi.org/dois/dois/#{{.filename}}"><h4 align="center">{{ .dois.name | title }}</h4></a>

<p align="justify"><b>DOI:</b> <a href = "https://doi.org/{{ .dois.doi }}"> {{ .dois.doi | markdownify }} </a></p>
<p align="justify"><b>Description:</b> {{ .dois.description | markdownify }}</p>
<p align="justify"><b>Purpose:</b> {{ .dois.purpose | markdownify }}</p>
<p align="justify"><b>Creator:</b> {{ .dois.creator | markdownify }}</p>
<p align="justify"><b>Owner:</b> {{ .dois.owner | markdownify }}</p>
<p align="justify"><b>Size:</b> {{ .dois.size | markdownify }}</p>


<p align="justify"><b>Content:</b> <BR>
{{ range .dois.content }}
     <kbd class="alert-info"> {{ . | markdownify }} </kbd> <BR>
{{ end }}
</p>

<p align="justify"><b>File types:</b>
{{ range .dois.file_types }}
     <kbd class="alert-primary"> {{ . | markdownify }} </kbd>
{{ end }}
</p>

<p align="justify"><b>Files:</b>
{{ if .dois.files }}
    {{ range (seq (len .dois.files)) }}
        <a href="{{ index $.dois.files (sub . 1) }}"><kbd class="alert-secondary">[.]</kbd></a>
    {{ end }}
{{ else }}
    ---
{{ end }}
</p>

{{ if .dois.license }}
     <p align="justify"> <b>License:</b> <kbd class="alert-secondary"> {{ .dois.license | markdownify }} </kbd> </p>
{{ end }}
<hr>
