
        <footer>
            <a href="{{ $.Site.Data.organizations.molssi.url }}"><img src="/images/org-logos/{{ $.Site.Data.organizations.molssi.logo }}" style="width:10%"></a>
            <a href="{{ $.Site.Data.organizations.bioexcel.url }}"><img src="/images/org-logos/{{ $.Site.Data.organizations.bioexcel.logo }}" style="width:10%"></a>
        <!--
            <div class="row">
                <div class="column">
                    <a href="https://molssi.org"><img src="/images/MolSSI-Logo-2.jpg" style="width:10%"></a>
                </div>
                <div class="column">
                    <a href="https://bioexcel.eu/"><img src="/images/Bioexcell_logo_1080px_transp.png" style="width:10%"></a>
                </div>
            </div>
            -->

            <h3><u>Endorsements</u></h3>
            {{ partial "endorsements" $ }}

            <p class="copyright text-muted">{{ .Site.Params.copyright | default "&copy; All rights reserved. COVID-19 Molecular Structure and Therapeutics Hub is lead by [MolSSI](http://molssi.org/) & [BioExcel](https://bioexcel.eu). The MolSSI is supported by the U.S. National Science Foundation through grant number OAC-1547580. [BioExcel is funded by the European Union Horizon 2020](https://ec.europa.eu/programmes/horizon2020) program under grant agreements [823830](https://cordis.europa.eu/project/id/823830), [675728](https://cordis.europa.eu/project/id/675728)" | markdownify }}</p>
        </footer>

        {{ partial "body-close" . }}


    </body>

</html>
