<!-- Helper function to determine if a general datum has a publication and gives the marker -->
<!-- Accepts a the full datum object as a thing. -->

{{ $localScratch := newScratch }}

{{ if $.publication }}
  <a href="{{ $.publication | safeURL }}"><img src="/images/greendot.png"></a>
{{ else if and $.preprint (not (eq $.preprint "Submitted")) }}
  <a href="{{ $.preprint | safeURL }}"><img src="/images/yellowdot.png"></a>
{{ else if and $.preprint (eq $.preprint "Submitted") }}
  <img src="/images/yellowdot.png">
{{ else }}
  <img src="/images/reddot.png">
{{ end }}
