<!-- Helper function to determine if a general datum has a publication and gives the marker -->
<!-- Accepts a the full datum object as a thing. -->

{{ $localScratch := newScratch }}

{{ if and .preprint (not (eq .preprint "Submitted")) }}
  <a href="{{ $.preprint | safeURL }}"><img src="/images/preprint.png" style="height:25px"></a>
{{ else if and (eq .preprint "Submitted") (not .publication) }}
  <img src="/images/preprint.png" style="height:25px">
{{ end }}

{{ if .publication }}
  <a href="{{ $.publication | safeURL }}"><img src="/images/published.png" style="height:25px"></a>
{{ end }}
