
{{ $localScratch := newScratch }}

<a href="{{.links.url}}"><h4 align="center">{{ .links.name | title }}</h4></a>

<p align="justify"><b>Description:</b> {{ .links.description | markdownify }}</p>

{{ if (isset .links "organization") }}
    <p align="justify"><b>Organization:</b> {{ .links.organization | markdownify }}</p>
{{ end }}

{{ if (isset .links "institution") }}
    <p align="justify"><b>Institution:</b> {{ .links.institution | markdownify }}</p>
{{end}}

{{ if (isset .links "lab") }}
    <p align="justify"><b>Lab:</b> {{ .links.lab | markdownify }}</p>
{{ end }}

<hr>
