
{{ $localScratch := newScratch }}

{{ $anchor := .links.name | anchorize }}
<h4 align="center" id="{{ $anchor }}">
    <a href="{{.links.url}}">{{ .links.name | title }}</a>
    <a href='{{ print .context.Site.BaseURL "/links/#" $anchor }}'><i class="fa fa-link" aria-hidden="true"></i></a>
</h4>

<p align="justify"><b>Description:</b> {{ .links.description | markdownify }}</p>

{{ if (isset .links "organization") }}
    <p align="justify"><b>Organization:</b> {{ .links.organization | markdownify }}</p>
{{ end }}

{{ if (isset .links "institution") }}
    <p align="justify"><b>Institution:</b> {{ .links.institution | markdownify }}</p>
{{end}}

{{ if (isset .links "lab") }}
    <p align="justify"><b>Lab:</b> {{ .links.lab | markdownify }}</p>
{{ end }}

<hr>
