<!-- Helper function to determine if a given model has a certain target by sifting through the PDBS -->
{{ $localScratch := newScratch }}

{{ $localScratch.Set "targets" slice }}

{{ range .model.pdbids }}
    {{ $targets := index $.structureMap (. | upper) | default slice }}
    {{ $localScratch.Set "targets" (($localScratch.Get "targets") | append $targets )}}
{{ end }}

{{ range .model.proteins }}
    {{ $targets := index $.proteinMap (. | upper) | default slice }}
    {{ $localScratch.Set "targets" (($localScratch.Get "targets") | append $targets )}}
{{ end }}

{{ return (uniq ($localScratch.Get "targets")) }}
