<ul style="text-align:left">
    <li>Unpublished data with no preprints have no indicator</li>
    <li>Data in a preprint or submitted for publication are given this <img src="/images/preprint.png" style="height:25px"> marker. If the preprint is available, it will always show and should work as a link</li>
    <li>Data published in a paper or accepted are given this <img src="/images/published.png" style="height:25px"> marker (i.e. has been approved by formal peer review) and should work as links.</li>
</ul>