<!-- Helper function to determine if a given model has a certain target by sifting through the PDBS -->
{{ $localScratch := newScratch }}

{{ $localScratch.Set "targets" slice }}

{{ range .model.pdbids }}
    {{ $localScratch.Set "model_pdb" . }}
    {{ range $.context.Site.Data.structures }}
        {{ $localScratch.Set "structure" . }}
        {{ $model_pdb := ($localScratch.Get "model_pdb" | upper) }}
        {{ if or (eq (.pdbid | upper) $model_pdb) (eq (.unpublished_pdbid | upper) $model_pdb)}}
            {{ if ($localScratch.Get "structure").targets }}
                {{ $targets := partial "ensure-slice" ($localScratch.Get "structure").targets }}
                {{ $localScratch.Set "targets" (($localScratch.Get "targets") | append $targets )}}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if not ($localScratch.Get "targets") }}
    {{ $localScratch.Set "ret" "nil" }}
{{ else }}
    {{ $localScratch.Set "ret" (index ($localScratch.Get "targets") 0) }}
{{ end }}
{{ return ($localScratch.Get "ret") }}