<!-- Condensed form for all structures associated with a protein -->

{{ $localScratch := newScratch }}
{{ $localScratch.Set "thera_map" (partial "thera-map" .context) }}
{{ $localScratch.Set "thera_by_protein" (partial "thera-by-protein" .context) }}

<div class="col col-9">

  <!-- protein name -->
  <h3 align="left" class="anchor" id="{{ .protein.name | anchorize }}"><b>{{ .protein.name }}</b>

  <!-- protein description -->
  <h4 align="justify">{{ .protein.description }}</h4>

  <!-- illustrative structure image -->
  {{ with .protein.image }} <p><img width=200 src="/{{ . }}"></p> {{ end }}

  {{ range (index ($localScratch.Get "thera_by_protein") (.protein.protein) ) }}
    <a href='{{ index ($localScratch.Get "thera_map") . }}'><kbd class="alert-success">{{ . | title }}</kbd></a>
  {{ end }}

  <!-- top (useful) structures containing this protein -->
  <!-- TODO: Change this to link to the individual structure pages with attached models? -->
  <h4 align="left">Selected structural data: <a href="">[all]</a></h4>
  {{ $protein_id := .protein.protein }}
  {{ range $structure := .context.Site.Data.structures }}
     {{ if in $structure.proteins $protein_id }}
       <div class="item" align="left"><a href="https://rcsb.org/structure/{{ $structure.pdbid }}">[{{ $structure.pdbid }}]</a>
       {{ $structure.annotation }}
       {{ with .rating }} {{ range $i, $sequence := (seq .) }}★{{ end }} {{ end }}
       </div>

     {{ end }}

  {{ end }}

  <!-- top (useful) models containing this protein -->
  <!-- TODO: Change this to link to the individual structures pages with attached models? -->
  <h4 align="left">Selected models: <a href="">[all]</a></h4>
  {{ $protein_id := .protein.protein }}
  {{ range $structure := .context.Site.Data.structures }}
     {{ if in $structure.proteins $protein_id }}
       <div class="item" align="left"><a href="https://rcsb.org/structure/{{ $structure.pdbid }}">[{{ $structure.pdbid }}]</a>
       {{ $structure.annotation }}
       {{ with .rating }} {{ range $i, $sequence := (seq .) }}★{{ end }} {{ end }}
       </div>

     {{ end }}

  {{ end }}

  <!-- TODO: Add most useful molecules/bioassay data? -->

  <hr>

</div>
