<!-- Establish a local scratch -->
{{ $local_scratch := newScratch }}

<!-- Figure out table colspan -->
{{ if .context.pointers }}
    {{ $local_scratch.Set "npointers" (len .context.pointers) }}
{{ else }}
    {{ $local_scratch.Set "npointers" 0 }}
{{ end }}
{{ $npointers := $local_scratch.Get "npointers" }}

{{ if .context.citations }}
    {{ $local_scratch.Set "ncitations" (len .context.citations) }}
{{ else }}
    {{ $local_scratch.Set "ncitations" 0 }}
{{ end }}
{{ $ncite := $local_scratch.Get "ncitations" }}

{{ if gt $npointers $ncite }}
    {{ $local_scratch.Set "max" $npointers }}
{{ else }}
    {{ $local_scratch.Set "max" $ncite }}
{{ end }}

{{ if gt ($local_scratch.Get "max") 1 }}
    {{ $local_scratch.Set "colspan" (add ($local_scratch.Get "max") 1)}}
{{ else }}
    {{ $local_scratch.Set "colspan" 2 }}
{{ end }}

{{ $colspan := $local_scratch.Get "colspan" }}

<!-- Handle Citation -->
{{ $citation := .citation }}
{{ if not $citation }}
    {{ $local_scratch.Set "tbclass" "table-info" }}
{{ else if eq $citation "bad" }}
    {{ $local_scratch.Set "tbclass" "table-danger" }}
{{ else if eq $citation "questionable" }}
    {{ $local_scratch.Set "tbclass" "table-warning" }}
{{ else if eq $citation "good" }}
    {{ $local_scratch.Set "tbclass" "table-success" }}
{{ else if eq $citation "Not Reviewed" }}
    {{ $local_scratch.Set "tbclass" "table-info" }}
{{ else }}
    {{ $local_scratch.Set "tbclass" "table-secondary" }}
{{ end }}

{{ $tblclass := $local_scratch.Get "tbclass" }}

<div class="table-responsive">
    <table class="table table-condensed">
        <tbody class="{{ $tblclass }}">
            <tr class="table-norow">
                <td colspan="{{ $colspan }}">
                    {{ .context.id }} by {{ .context.author }}</td>
            </tr>
            <tr class="table-norow">
                <td colspan="{{ $colspan }}">{{ .context.description }}</td>
            </tr>
            {{ if .context.pointers }}
            <tr class="table-norow">
                <th scope="row">Data Pointers: </th>
                {{ range .context.pointers }}
                    <td>{{ . | safeHTML }}</td>
                {{ end }}
            {{ end }}
            {{ if .context.citations }}
            <tr class="table-norow">
                <th scope="row">Citations: </th>
                {{ range .context.citations }}
                    <td>{{ . | safeHTML }}</td>
                {{ end }}
            </tr>
            {{ end }}
            <tr>
            {{ if or (not .citation) ( eq .citation "Not Reviewed" )}}
                <th colspan="{{ $colspan }}"> Not Reviewed</th>
            {{ else }}
                <th colspan="{{ $colspan }}">Reviewed by... someone?</th>
            {{ end }}
            </tr>
        </tbody>
    </table>
</div>