<!-- Helper function to determine if a structure has a publication and gives the marker -->
<!-- Accepts a full structure object as a thing. -->

{{ $localScratch := newScratch }}
{{ $pdb := upper .pdbid }}
{{ $data := getJSON "https://data.rcsb.org/rest/v1/core/entry/" $pdb }}

{{ $url := print "https://www.rcsb.org/structure/" $pdb }}

{{ if $data }}
  {{ if eq ($data.rcsb_primary_citation.journal_abbrev | title) "To Be Published" }}
    {{ $localScratch.Set "pub_link" "TBP" }}
  {{ else }}
    {{ $localScratch.Set "pub_link" (print "http://doi.org/" $data.rcsb_primary_citation.pdbx_database_id_doi) }}
  {{ end }}
{{ else }}
  {{ $localScratch.Set "pub_link" nil }}
{{ end }}

{{ $pub_link := $localScratch.Get "pub_link" }}
{{ if and $pub_link (not (eq $pub_link "TBP")) }}
  <a href="{{ $pub_link }}">🟢</a>
{{ else if $.publication }}
  <a href="{{ $.publication | safeURL }}">🟢</a>
{{ else if and $.preprint (not (eq $.preprint "Submitted")) }}
  <a href="{{ $.preprint | safeURL }}">🟡</a>
{{ else if and $.preprint (eq $.preprint "Submitted") }}
  🟡
{{ else }}
  🔴
{{ end }}
