<!--
  <div class="col col-2">
  <img src=img/{{ .img }}>
</div>
-->

{{ $localScratch := newScratch }}
{{ $localScratch.Set "protein_map" .protein_map }}
{{ $localScratch.Set "thera_map" .thera_map }}

<div class="col col-9">

  <!-- target name -->
  <h4 class="anchor" id="{{.context.name | anchorize }}"><b>{{ .context.name }}</b><img width=30 src="/images/sars-cov-2-thumbnail.jpg"></h4>

  <!-- target description -->
  <p align="justify">{{ .context.description | markdownify }}</p>

  <!-- tag links to proteins involves in this target -->
  <h5 align="left"><b>Proteins affected:</b>
  {{ range .context.proteins }}
    <a href='{{ index ($localScratch.Get "protein_map") . }}'><kbd class="bg-primary">{{ . }}</kbd></a>
  {{ end }}
  </h5>

  <!-- key therapeutics -->
  {{ if .context.therapeutic_modalities }}
    <div>
    <h5 align="left"><b>Potential therapeutic modalities:</b><!--</h5>
    <h5 align="left">-->
      {{ range .context.therapeutic_modalities }}
       <!-- NOTE: hyperlinks do not correctly link up to the right anchor point yet -->
       <a href='{{ index ($localScratch.Get "thera_map") . }}'><kbd class="alert-success">{{ . | title }}</kbd></a>
      {{ end }}
    <!--</h5>-->
    </div>
  {{ end }}


  <!-- Key publications -->
  {{ if .context.papers }}
  <h5 align="left"><b>Key publications:</b></h5>
  <ul>
    {{ range .context.papers }}
      <!-- TODO: Pull more information about these publications automagically -->
      <li>
        <div align="justify">{{ .title }}
        {{ if .doi }}
          <a href="http://doi.org/{{ .doi }}"> <kbd class="alert-info">[DOI]</kbd> </a>
        {{ end }}
        {{ if .pmid }}
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ .pmid }}"> <kbd class="alert-info">[PubMed]</kbd> </a>
        {{ end }}
        </div>
      </li>
    {{ end }}
  </ul>
  {{ end }}

  <hr>


</div>
