{{ $localScratch := newScratch }}

{{ $localScratch.Set "map" dict }}

{{ range $.Site.Data.molecules }}
    {{ if .proteins }}
        {{ if reflect.IsSlice .proteins }}
            {{ $localScratch.Set "iter" .proteins }}
        {{ else }}
            {{ $localScratch.Set "iter" (slice .proteins) }}
        {{ end }}

        {{ $localScratch.Set "data" . }}

        {{ range $localScratch.Get "iter" }}
            {{ if not (index ($localScratch.Get "map") .) }}
                {{ $localScratch.Set "map" (merge ($localScratch.Get "map") (dict . slice) ) }}
            {{ end }}

            {{ $data := (index ($localScratch.Get "map") .) | append ($localScratch.Get "data").therapeutic }}
            {{ $data := uniq $data }}

            {{ $localScratch.Set "map" (merge ($localScratch.Get "map") (dict . $data) ) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ return ($localScratch.Get "map") }}
