
{{ $localScratch := newScratch }}
{{ $localScratch.Set "term" .term }}
{{ $localScratch.Set "data" .data }}
{{ $localScratch.Set "protein_map" .protein_map }}
{{ $localScratch.Set "target_map" .target_map }}

<!-- Molecule Title -->
<h4 align="center">{{ .data.name | title }}</h4>

{{ with .data.links.drugbank }}
    <img src="https://www.drugbank.ca/structures/{{ . }}/thumb.svg">
{{ end }}

<!-- Molecule description -->
<p align="justify">{{ .data.description | markdownify }}</p>

<!-- Molecule mechanism -->
<p align="justify"><b>Mechanism: </b>{{ .data.mechanism }}</p>

{{ if .data.links }}
  <h5 align="left"><b>Read more about it:</b>
  {{ if .data.links.wikipedia }}
    <a href='https://en.wikipedia.org/wiki/{{ .data.links.wikipedia }}'><kbd class="alert-info">Wikipedia</kbd></a>
  {{ end }}
  {{ if .data.links.drugbank }}
    <a href='https://www.drugbank.ca/drugs/{{ .data.links.drugbank }}'><kbd class="alert-info">DrugBank</kbd></a>
  {{ end }}
  {{ if .data.links.chemspider }}
    <a href='http://www.chemspider.com/Chemical-Structure.{{ .data.links.chemspider }}.html'><kbd class="alert-info">ChemSpider</kbd></a>
  {{ end }}
  {{ if .data.links.pubchem }}
    <a href='https://pubchem.ncbi.nlm.nih.gov/compound/{{ .data.links.pubchem }}'><kbd class='alert-info'>PubChem</kbd></a>
  {{ end }}
  </h5>
{{ end }}

<!-- Targets -->
{{ if .data.target }}
  {{ if reflect.IsSlice .data.target }}
      {{ $localScratch.Set "iter" .data.target }}
  {{ else }}
      {{ $localScratch.Set "iter" (slice .data.target) }}
  {{ end }}
  <h5 align="left"><b>Targeting Modalities:</b>
  
  {{ range $localScratch.Get "iter" }}
    <a href='{{ (index ($localScratch.Get "target_map") .).link }}'><kbd class="item-tag">{{ . | title}}</kbd></a>
  {{ end }}
  </h5>
{{ end }}

<!-- tag links to proteins involves in this target -->
{{ if .data.protein }}
  {{ if reflect.IsSlice .data.protein }}
      {{ $localScratch.Set "iter" .data.protein }}
  {{ else }}
      {{ $localScratch.Set "iter" (slice .data.protein) }}
  {{ end }}
  <h5 align="left"><b>Known Protein Interactions:</b>
  
  {{ range $localScratch.Get "iter" }}
    <a href='{{ index ($localScratch.Get "protein_map") . }}'><kbd class="bg-primary">{{ . }}</kbd></a>
  {{ end }}
  </h5>
{{ end }}
<hr>
