
{{ $localScratch := newScratch }}

<a href="{{.tools.url}}"><h4 align="center">{{ .tools.name | title }}</h4></a>

<p align="justify"><b>Description:</b> {{ .tools.description | markdownify }}</p>


<p align="justify"><b>Type:</b>
{{ range .tools.type  }}
    <kbd class="alert-info">{{ . | markdownify }}</kbd>
{{ end }}
</p>

<p align="justify"><b>Input Dataset:</b>
{{ range .tools.input_data  }}
    <kbd class="item-tag">{{ . | markdownify }}</kbd>
{{ end }}
</p>

<p align="justify"><b>Output:</b>
{{ range .tools.output  }}
    <kbd class="bg-primary">{{ . | markdownify }}</kbd>
{{ end }}
</p>


{{ if (isset .tools "organization") }}
    <p align="justify"><b>Organization:</b> {{ .tools.organization | markdownify }}</p>
{{ end }}

{{ if (isset .tools "institution") }}
    <p align="justify"><b>Institution:</b> {{ .tools.institution | markdownify }}</p>
{{end}}

{{ if (isset .tools "lab") }}
    <p align="justify"><b>Lab:</b> {{ .tools.lab | markdownify }}</p>
{{ end }}

{{ if (isset .tools "api") }}
    <p align="justify"><b>API</b>: <a href="{{ .tools.api }}">Link</p>
{{ end }}

<hr>
