<!-- Establish a local scratch -->
{{ $local_scratch := newScratch }}

{{ if eq .citation "Not Reviewed" }}
    {{ $local_scratch.Set .category "Not Reviewed" }}
{{ else if not (isset .citation .category) }}
    {{ $local_scratch.Set .category "Not Reviewed" }}
{{ else }}
    {{ $local_scratch.Set .category (index .citation .category) }}
{{ end }}

{{ $citation := $local_scratch.Get .category }}



{{ if eq $citation "bad" }}
<td class="table-danger">Bad by {{ index .citation "reviewer" }}</td>
{{ else if eq $citation "questionable" }}
<td class="table-warning">Questionable by {{ index .citation "reviewer" }}</td>
{{ else if eq $citation "good" }}
<td class="table-success">Good by {{ index .citation "reviewer" }}</td>
{{ else if eq $citation "Not Reviewed" }}
<td class="table-info">Not Reviewed</td>
{{ else }}
<td class="table-secondary">Invalid Review Key (check Yaml)</td>
{{ end }}