{{ partial "header" . }}

{{ $pmap := partial "protein-map" .}}
{{ $domain_sort := partial "master-domain-index" . }}
{{ $domain_keys := $domain_sort.keys }}
{{ $domain_titles := $domain_sort.titles }}
{{ $viral_sort := partial "viral-domain-sort" $ }}

<!-- PROTEINS PAGE -->

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h4>{{ .Description }}</h4>

        <h4 align="justify">{{ .Content }}</h4>
        <h5 align="left">
        Data classification:
            <ul style="text-align:left;">
                {{ range slice "structures" "models" "simulations" }}
                    {{ $data := index $.Site.Data.glossary . }}
                    <li><a href="{{ $data.url }}"><b>{{ $data.term | title }}:</b></a> {{ $data.short }}</li>
                {{ end }}
            </ul>
        </h5>

        {{ partial "marker-info-header" . }}

    </div>
</main>

<main class="main-img">
    <!-- Wrap the div in a scaling thing, but map should use the full resolution of the image for coords -->
    <img id="genome" src="/images/sars-cov-2-genome-structures.png" usemap="#proteintmap" border="0" width="100%">
    <map id="proteinmap_id" name="proteintmap">
        <area shape="rect" coords="0,26, 256,81" href="https://zhanglab.ccmb.med.umich.edu/COVID-19/" alt="Zhang">
        <area shape="poly" coords="282,26, 252,94, 170,142, 172,245, 403,246, 397,101, 303,24" href="{{ $pmap.PLpro }}" alt="PLpro-nsp3">
        <area shape="poly" coords="393,40, 430,174, 515,164, 529,82, 468,36" href='{{ index $pmap "3CLpro" }}' alt="3CLpro-nsp5">
        <area shape="poly" coords="538,145, 516,167, 493,173, 496,239, 572,238, 570,143" href='{{ $pmap.NSP7 }}' alt="nsp7">
        <area shape="rect" coords="532,41, 608,118" href='{{ $pmap.NSP9 }}' alt="nsp9">
        <area shape="rect" coords="601,118, 700,243" href='{{ $pmap.RdRP }}' alt="RdRP">
        <area shape="poly" coords="142,418, 143,524, 232,523, 230,454, 197,448, 180,416" href='{{ $pmap.NSP1 }}' alt="nsp1">
        <area shape="rect" coords="196,349 318,444" href='{{ $pmap.NSP2 }}' alt="nsp2">
        <area shape="poly" coords="373,512 494,512, 471,405, 378,408" href='{{ $pmap.NSP4 }}' alt="nsp4">
        <area shape="rect" coords="482,354, 554,444" href='{{ $pmap.NSP6 }}' alt="nsp6">
        <area shape="poly" coords="500,489, 501,501, 623,500, 593,423, 564,431" href='{{ $pmap.NSP8 }}' alt="nsp8">
        <area shape="rect" coords="570,350, 646,429" href='{{ $pmap.NSP10 }}' alt="nsp10">
        <area shape="poly" coords="873,386, 874,395, 876,530, 979,530, 978,466, 910,385" href='{{ $pmap.spike }}' alt="spike">
        <area shape="rect" coords="657,339, 744,413" href='{{ $pmap.Helicase }}' alt="Helicase">
    </map>
</main>

    <!-- List all Proteins from data/targets/ -->
    <!-- (range where) does not work for this atm, using (range)>(if) -->
<main>
    <!-- Viral -->
    <hr class="hr-thick">
    <h2 class="a">Viral Proteins</h2>
    {{ range $domain_keys }}
        {{ $header := print "Models of Viral " (index $domain_titles .) " Proteins" }}
        <h3 class="anchor" id='{{ $header | anchorize }}'><u>{{ $header | title }}</u></h3>
        {{ range (index $viral_sort .) }}
            {{ partial "protein-entry.html" (dict "protein" . "context" $) }}
        {{ end }}
    {{ end }}

    <!-- Host -->
    <hr class="hr-thick">
    <h2>Host Proteins</h2>
    {{ range $.Site.Data.proteins  }} <!-- Protein Top Sort -->
        {{ if in (slice "human" ) .organism }} <!-- Viral/Host -->
            <!-- pass current entry as .protein and current context as .context -->
            {{ partial "protein-entry.html" (dict "protein" . "context" $) }}
        {{ end }}
    {{ end }}


</main>

{{ partial "footer" . }}

<!--Resize map with page, very helpful-->
<script src="https://cdn.rawgit.com/davidjbradshaw/imagemap-resizer/master/js/imageMapResizer.min.js"></script>
<script>
$(document).ready(function() {
    $('map').imageMapResize();
});
</script>
