{{ partial "header" . }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>
        {{ partial "tags" . }}
    </div>

    <hr>

    <!-- List all targets from data/targets/ -->
    <!-- TODO: Automatically group by same groupings used in Structures (viral, host) with a simple loop -->
    {{ range $.Site.Data.proteins }}
       <!-- pass current entry as .protein and current context as .context -->
       {{ partial "protein-structures.html" (dict "protein" . "context" $) }}
    {{ end }}

    <hr>

</main>

{{ partial "footer" . }}
