{{ partial "header" . }}

<main>

    {{ if .Content }}
    {{ .Content }}
    {{ else }}
    <h2>{{ .Title }}</h2>
    {{ end }}

    <!-- Establish a scope-independent scratch -->
    {{ $mainScratch := newScratch }}
    {{range .Pages.GroupByParam "subcategory-order" }}
        <!-- Render the Category-->
        {{ range first 1 .Pages }}
        <hr>
        {{ $mainScratch.Set "subcat" (.Param "subcategory" ) }}
        {{end}}
        <!-- Render the Subcategory-->
        {{ $sort_pages := .Pages.ByParam "list-order" }}
        {{if lt (len $sort_pages) 8 }}
            <h3> {{ $mainScratch.Get "subcat" }} </h3>
            {{ range $sort_pages }}
                {{ partial "list-item" . }}
            {{ end }}
        {{ else }}
            <!-- Easier to view accordion -->
            <div class="panel-group" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <h3> {{ $mainScratch.Get "subcat" }} </h3><br />(Click to Expand)
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    {{ range $sort_pages }}
                      {{ partial "list-item" . }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
        {{ end }}

    {{ end }}


</main>

<!-- If Paginator is used, uncomment and wrap the following (including .) in double curly brace: partial "paginator" . -->
{{ partial "footer" . }}
